Package: com.551.dynamicislandlscolor16
Name: Dynamic Island LS Color 16
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Changes the native Dynamic Island border and Lock Screen lock icon colour on iOS 16.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 16.0), firmware (<< 17.0)
Homepage: https://github.com/551UK/Dynamic-Island-LS-Color-16
