Package: com.551.dynamicislandlscolor16
Name: Dynamic Island LS Color 16
Version: 0.2.3
Architecture: iphoneos-arm64
Description: Changes the Dynamic Island border colour on the Lock Screen, charging and Do Not Disturb popups, and colours the Lock Screen lock / Face ID icon.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0), firmware (<< 17.0)
Homepage: https://github.com/551UK/Dynamic-Island-LS-Color-16
