<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Dynamic Island LS Color 16</string>
    <key>CFBundleExecutable</key>
    <string>DynamicIslandLSColor16Prefs</string>
    <key>CFBundleIdentifier</key>
    <string>com.551.dynamicislandlscolor16.preferences</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Dynamic Island LS Color 16</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.3</string>
    <key>CFBundleVersion</key>
    <string>0.2.3</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>NSPrincipalClass</key>
    <string>DILSRootListController</string>
</dict>
</plist>
